-Dnisse.compat.osDetector=true
-itr
-Daether.connector.basic.parallelPut=false
-Daether.remoteRepositoryFilter.prefixes=true
-Daether.remoteRepositoryFilter.prefixes.basedir=${session.rootDirectory}/.mvn/rrf/
-Daether.remoteRepositoryFilter.groupId=true
-Daether.remoteRepositoryFilter.groupId.basedir=${session.rootDirectory}/.mvn/rrf/
-Ddevelocity.scan.captureResourceUsage=false
