<settings>
  <profiles>
    <profile>
      <id>settings-profile</id>
      <repositories>
        <repository>
          <id>settings-central</id>
          <name>Central Repository</name>
          <url>https://settings.central</url>
        </repository>
      </repositories>
    </profile>
    <profile>
      <id>common-repo-profile</id>
      <repositories>
        <repository>
          <id>common-repo</id>
          <name>Common Repository</name>
          <url>https://common.settings</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>settings-profile</activeProfile>
    <activeProfile>common-repo-profile</activeProfile>
  </activeProfiles>
</settings>