!.idea/runConfigurations
!devtools/cli/distribution/java-binary/bin
*.iml
*.log
*.log*
*.orig
*.rej
*.swo
*.swp
*~
.DS_Store
.cache
.classpath
.directory
.envrc
.factorypath
.goose
.goosehints
.graal-install
.gradle
.idea
.java-version
.jekyll-cache
.mvn/.develocity
.mvn/.gradle-enterprise/
.pmd/.cache
.project
.quarkus
.settings
.vscode/
.apt_generated_tests/
lsp/
ObjectStore
bin
dependency-reduced-pom.xml
docker/distroless/bazel-*
dumps
graph-output.dot
lib
local-test
nb-configuration.xml
nbactions.xml
out
target