target
*.iml
.idea
.settings
.project
.classpath
*~
local-test
out
lib
bin
dependency-reduced-pom.xml
hotspot.log
.directory
.java-version
.graal-install
hs_err_pid*.log
server.log
shamrock.log
dumps
*.orig
*.rej
.factorypath
graph-output.dot

