<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <profiles>
    <profile>
      <repositories>
        <repository>
          <releases>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <updatePolicy>daily</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </snapshots>
          <id>custom-repo</id>
          <url>https://foo.repo/artifact/content/groups/foo/</url>
        </repository>
        <repository>
          <releases>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>jboss-public-repository</id>
          <url>https://repository.jboss.org/nexus/content/repositories/releases/</url>
        </repository>
      </repositories>
      <id>foo-profile</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>foo-profile</activeProfile>
  </activeProfiles>
</settings>