.quarkus-logo {
    margin-right: 15px;
}

.main-container {
    margin-top: 1em;
    margin-bottom: 4em;
}

.cards-index {
    padding-top: 1em;
}

.navbar-brand {
    margin-right: 0.9rem;
}

.navbar-brand img {
    border-right: 1px solid darkgrey;
    padding-right: 10px;
    margin-right: 5px;
}

.navbar-text {
    font-size: 0.9em;
    position: absolute;
    right: 5px;
    bottom: 9px;
}

.navbar-right {
    font-size: 0.9em;
    position: absolute;
    right: 5px;
    bottom: 9px;
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.navbar {
    justify-content: unset;
}

#navbar-title:hover {
    color: #4695eb !important;
}

#navbar-subtitle {
    padding-top: 6px;
    color: #4695eb;
}

.breadcrumb-separator {
    margin-right: 2px;
    margin-left: 4px;
}

.breadcrumb {
    border-radius: 0px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 0.75em;
}

.package-name {
    color: dimgray;
}

.devUiFooterButton {
   color: #9a9da0; 
}

.devUiFooterButton:hover {
   color: #3366ac !important;
}

#devUiFooter {
    background: #343a40;
    height: 40px;
}

#devUiFooterToolbar {
    border: 1px solid #414850;
    max-height: 40px;
    width: 100%;
    padding: unset;
    position: absolute;
    top: 0px;
}

#devUiFooterResizeButton {
    cursor: row-resize !important;
}

#devUiFooter {
    overflow-y: auto;
    overflow-x: hidden;
}

.guide-padding-right {
    padding-right: 0.25rem;
}