
.logstreamIcon {
    color: #9a9da0 !important;
}

.logstreamIcon:hover {
    color: #3366ac !important;
    cursor: pointer;
}

.logstreamFilteredOut {
    display: none;
}

#logstreamLogTerminalText {
    font-size: 0.9em;
}

#logstreamLogTerminal {
    padding-bottom: 5px;
    line-height: 1.00;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
}

#logstreamFollowLogButton {
    position: fixed;
    color: green;
    margin-top: 5px;
    right: 23px;
    cursor: pointer;
}

#logstreamInformationSection {
    position: fixed;
    color: white;
    font-size: 1.6em;
    right: 23px;
    bottom: 5px;
}

.logstreamStopLogHr {
    margin-top: 10px;
    border-top: 1px dashed #3366ac;
}

.clickable-app-class:hover {
    cursor:pointer;
}
