<?xml version="1.0" encoding="UTF-8"?>

<Configuration verbose="false" status="warn" packages="org.infinispan.util.logging.log4j">

    <Appenders>
        <File name="FileAppender" fileName="${sys:java.io.tmpdir}/quarkus/quarkus.log" append="false">
            <ThresholdFilter level="trace"/>
            <PatternLayout pattern="%d %-5p [%c] (%t:%x) %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate" level="error" />
        <Logger name="org.infinispan.quarkus" level="error" />
        <Logger name="io.quarkus.example.test" level="error" />

        <Root level="info">
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>

</Configuration>