# ignore eclipse files
.project
.classpath
.settings
.metadata
target

# ignore IDEA files
*.iml
*.ipr
*.iws
.idea
atlassian-ide-plugin.xml

# ignore maven build
target

# ignore vim tmp files
*.swp

