<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MicroProfile_GraphQL" verbose="1">
    <listeners>
        <listener class-name="io.quarkus.tck.graphql.TestInterceptor" />
    </listeners>
    <test name="All">
        <packages>
            <package name="org.eclipse.microprofile.graphql.*"/>
        </packages>
    </test>
</suite>
