body {
    height: 100%;
    margin: 0 !important;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;    
}

#graphiql {
    height: 100vh;
}

#graphiql .topBar{
    background:#343a40;
}

#graphiql .execute-button {
    box-shadow:unset;
    background: #4695eb;
}

#graphiql .toolbar-button {
    padding-top: 12px !important;
    box-shadow:unset;
    background: transparent;
    color: #9a9da0;
}

#graphiql .topBar::after {
    content: "{applicationName} {applicationVersion} (powered by Quarkus {quarkusVersion})";
    position: absolute;
    padding-top: 6px;
    right: 100px;
    color: #9a9da0;
}

#graphiql .docExplorerShow {
    background: #4695eb;
    color: white;
}

#graphiql .docExplorerWrap {
    color: black;
}
#graphiql .docExplorerHide{
    color: black;
}

#graphiql .topBar {
    padding-bottom: 12px !important;
    padding-top: 12px !important;   
}

#graphQLUiTitleLink::after {
  content: "GraphQL UI";
}

#graphQLUiTitleLink {
    display: flex;
    align-items:center;
    color: white;
    text-decoration: unset;
    font-size: 1.25rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#graphQLUiLogoLink img {
    border-right: 1px solid darkgrey;
    padding-right: 10px;
    margin-right: 10px;
    height: 30px;
}

.graphiql-container .title {
    display: flex;
}