.navbar {
    padding: unset;
    justify-content: left;
}

.mr-auto, .mx-auto {
    margin-right: unset !important;
    padding-right: 15px;   
}

.navbar-brand img {
    border-right: 1px solid darkgrey;
    padding-left: 12px;
    padding-right: 10px;
    margin-right: 5px;
    height: 30px;
}

#state {
    padding-right: 10px;
    font-weight: normal;
}

.nav-item h3 span {
    font-size: 12px
}

.navbar::after {
    content: "{applicationName} {applicationVersion} (powered by Quarkus {quarkusVersion})";
    font-size: 0.9em;
    padding-right: 10px; 
    padding-left: 10px; 
    position: absolute;
    right: 0px;
    color: #9a9da0;
}