## This is basic continuous integration build for your Quarkus application.

name: Quarkus Codestart CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK {java.version}
        uses: actions/setup-java@v1
        with:
          java-version: {java.version}
      - name: Build
        run: {buildtool.cmd.build-ci}