<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CDI TCK">
    <listeners>
        <listener class-name="org.jboss.cdi.tck.impl.testng.ConfigurationLoggingListener"/>
        <listener class-name="org.jboss.cdi.tck.impl.testng.ProgressLoggingTestListener"/>
        <listener class-name="org.jboss.cdi.tck.impl.testng.SingleTestClassMethodInterceptor"/>
    </listeners>

    <test name="CDI Lite TCK">
        <groups>
            <run>
                <exclude name="cdi-full"/>
                <exclude name="se"/>
            </run>
        </groups>

        <packages>
            <package name="org.jboss.cdi.tck.tests.*"/>
            <package name="org.jboss.cdi.tck.interceptors.tests.*"/>
        </packages>

        <classes>
            <class name="org.jboss.cdi.tck.tests.implementation.simple.lifecycle.SimpleBeanLifecycleTest">
                <methods>
                    <exclude name="testBeanCreateInjectsDependenciesAndInvokesInitializerToInstantiateInstance"/>
                </methods>
            </class>
            <!-- must be excluded due to a TCK bug that shall be fixed in CDI TCK 4.0.10 -->
            <class name="org.jboss.cdi.tck.interceptors.tests.contract.lifecycleCallback.LifecycleCallbackInterceptorTest">
                <methods>
                    <exclude name="testPostConstructInterceptor"/>
                    <exclude name="testProtectedLifecycleInterceptorMethod"/>
                    <exclude name="testLifeCycleCallbackInterceptorNotInvokedForMethodLevelInterceptor"/>
                    <exclude name="testSingleMethodInterposingMultipleLifecycleCallbackEvents"/>
                    <exclude name="testPackagePrivateLifecycleInterceptorMethod"/>
                    <exclude name="testPreDestroyInterceptor"/>
                    <exclude name="testAroundInvokeAndLifeCycleCallbackInterceptorsCanBeDefinedOnTheSameClass"/>
                    <exclude name="testPrivateLifecycleInterceptorMethod"/>
                    <exclude name="testPublicLifecycleInterceptorMethod"/>
                </methods>
            </class>
            <class name="org.jboss.cdi.tck.interceptors.tests.contract.invocationContext.InvocationContextTest">
                <methods>
                    <exclude name="testGetTargetMethod"/>
                </methods>
            </class>
            <class name="org.jboss.cdi.tck.tests.context.DestroyForSameCreationalContextTest">
                <methods>
                    <exclude name="testDestroyForSameCreationalContextOnly"/>
                </methods>
            </class>
            <class name="org.jboss.cdi.tck.tests.context.DestroyForSameCreationalContext2Test">
                <methods>
                    <!-- https://github.com/jakartaee/cdi-tck/issues/457 -->
                    <exclude name="testDestroyForSameCreationalContextOnly"/>
                </methods>
            </class>
            <class name="org.jboss.cdi.tck.tests.interceptors.definition.inheritance.InterceptorBindingInheritanceTest">
                <methods>
                    <exclude name="testInterceptorBindingDirectlyInheritedFromManagedBean"/>
                    <exclude name="testMethodInterceptorBindingDirectlyInheritedFromManagedBean"/>
                    <exclude name="testMethodInterceptorBindingDirectlyNotInheritedFromManagedBean"/>
                    <exclude name="testMethodInterceptorBindingIndirectlyInheritedFromManagedBean"/>
                    <exclude name="testInterceptorBindingIndirectlyInheritedFromManagedBean"/>
                    <exclude name="testMethodInterceptorBindingIndirectlyNotInheritedFromManagedBean"/>
                </methods>
            </class>
            <class name="org.jboss.cdi.tck.tests.lookup.injectionpoint.InjectionPointTest">
                <methods>
                    <!-- https://github.com/jakartaee/cdi-tck/issues/459 -->
                    <exclude name="testApiTypeInjectionPoint"/>
                    <exclude name="testGetBindingTypes"/>
                    <exclude name="testGetMemberField"/>
                    <exclude name="testGetMemberMethod"/>
                    <exclude name="testNullInjectionPointInjectedIntoNonInjectedObject"/>
                    <exclude name="testCurrentBinding"/>
                    <exclude name="testDependentScope"/>
                    <exclude name="testGetAnnotatedParameter"/>
                    <exclude name="testGetType"/>
                    <exclude name="testIsTransient"/>
                    <exclude name="testGetAnnotatedField"/>
                    <exclude name="testGetMemberConstructor"/>
                    <exclude name="testGetBean"/>
                </methods>
            </class>
            <class name="org.jboss.cdi.tck.tests.implementation.simple.lifecycle.unproxyable.UnproxyableManagedBeanTest">
                <methods>
                    <exclude name="testNormalScopedUnproxyableBeanWithPublicFinalMethodResolution"/>
                    <exclude name="testNormalScopedUnproxyableBeanWithPrivateConstructorResolution"/>
                    <exclude name="testNormalScopedUnproxyableBeanWithFinalClassResolution"/>
                    <exclude name="testNormalScopedUnproxyableBeanWithPackagePrivateFinalMethodResolution"/>
                    <exclude name="testNormalScopedUnproxyableBeanWithProtectedFinalMethodResolution"/>
                </methods>
            </class>
            <class name="org.jboss.cdi.tck.tests.interceptors.definition.InterceptorDefinitionTest">
                <methods>
                    <!-- https://github.com/jakartaee/cdi-tck/issues/455 -->
                    <exclude name="testInterceptorsImplementInterceptorInterface"/>
                </methods>
            </class>
            <class name="org.jboss.cdi.tck.tests.lookup.dynamic.handle.InstanceHandleTest">
                <methods>
                    <exclude name="testGetHandle"/>
                    <exclude name="testHandles"/>
                </methods>
            </class>
            <class name="org.jboss.cdi.tck.tests.context.dependent.DependentContextTest">
                <methods>
                    <exclude name="testContextIsActiveDuringInjection"/>
                    <!-- https://github.com/jakartaee/cdi-tck/issues/454 -->
                    <exclude name="testDependentScopedInterceptorsAreDependentObjectsOfBean"/>
                </methods>
            </class>
            <class name="org.jboss.cdi.tck.tests.context.GetFromContextualTest">
                <methods>
                    <exclude name="testGetMayNotCreateNewInstanceUnlessCreationalContextGiven"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
