<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CDI TCK">
    <listeners>
        <listener class-name="org.jboss.cdi.tck.impl.testng.ConfigurationLoggingListener"/>
        <listener class-name="org.jboss.cdi.tck.impl.testng.ProgressLoggingTestListener"/>
        <listener class-name="org.jboss.cdi.tck.impl.testng.SingleTestClassMethodInterceptor"/>
    </listeners>

    <test name="CDI Lite TCK">
        <groups>
            <run>
                <exclude name="cdi-full"/>
                <exclude name="se"/>
            </run>
        </groups>

        <packages>
            <package name="org.jboss.cdi.tck.tests.*"/>
            <package name="org.jboss.cdi.tck.interceptors.tests.*"/>
        </packages>

        <classes>
            <!-- === exclusions from the canonical exclusion list in the CDI TCK === -->

        </classes>
    </test>
</suite>
