<?xml version="1.0" encoding="UTF-8" ?>
<q:xmlConfig xmlns:q="https://quarkus.io">
  <address>localhost</address>
  <port>12345</port>

  <data>
    <name>name1</name>
    <model>model1</model>
    <date>2019-03-21T02:40:38Z</date>
  </data>
  <data>
    <name>name2</name>
    <model>model2</model>
    <date>2019-03-23T11:44:00Z</date>
  </data>

</q:xmlConfig>