name: Quarkus CI Fork Maven Cache

on:
  push:
    branches:
      - 'main'
    # paths-ignore should match ci-actions.yml
    paths-ignore:
      - '.gitignore'
      - '.dockerignore'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - 'adr/**'
      - 'docs/src/main/asciidoc/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/*.yml'
      - '.github/*.java'
      - '.github/*.conf'
  schedule:
    # first day of month at 12:10am
    - cron: '10 0 1 * *'
  workflow_dispatch:

concurrency:
  group: "workflow = ${{ github.workflow }}, ref = ${{ github.event.ref }}, pr = ${{ github.event.pull_request.id }}"
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  LANG: en_US.UTF-8
jobs:
  build-jdk11:
    name: "Quick JDK 11 Build"
    runs-on: ubuntu-latest
    # Skip in main repo
    if: github.repository != 'quarkusio/quarkus'
    steps:
      - uses: actions/checkout@v4
      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Get Date
        id: get-date
        run: |
          echo "date=$(/bin/date -u "+%Y-%m")" >> $GITHUB_OUTPUT
        shell: bash
      - name: Cache Maven Repository
        id: cache-maven
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          # refresh cache every month to avoid unlimited growth
          key: q2maven-${{ steps.get-date.outputs.date }}
      - name: Build
        if: steps.cache-maven.outputs.cache-hit != 'true'
        run: |
          ./mvnw -T1C -e -B --settings .github/mvn-settings.xml -Dquickly-ci -Dtcks clean install
      - name: Delete Local Artifacts From Cache
        if: steps.cache-maven.outputs.cache-hit != 'true'
        shell: bash
        run: rm -r ~/.m2/repository/io/quarkus
