name: Quarkus Deploy Snapshots

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

env:
  LANG: en_US.UTF-8
jobs:
  build-and-deploy:
    name: "Build and deploy"
    runs-on: ubuntu-latest
    if: github.repository == 'quarkusio/quarkus'
    env:
      MAVEN_OPTS: -Xmx6g -XX:MaxMetaspaceSize=2g
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      - name: Reclaim Disk Space
        run: .github/ci-prerequisites.sh
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Generate cache key
        id: cache-key
        run: |
          CURRENT_BRANCH="${{ github.repository != 'quarkusio/quarkus' && 'fork' || github.base_ref || github.ref_name }}"
          CURRENT_MONTH=$(/bin/date -u "+%Y-%m")
          CURRENT_DAY=$(/bin/date -u "+%d")
          ROOT_CACHE_KEY="m2-cache"
          echo "m2-monthly-cache-key=${ROOT_CACHE_KEY}-${CURRENT_MONTH}" >> $GITHUB_OUTPUT
          echo "m2-monthly-branch-cache-key=${ROOT_CACHE_KEY}-${CURRENT_MONTH}-${CURRENT_BRANCH}" >> $GITHUB_OUTPUT
          echo "m2-cache-key=${ROOT_CACHE_KEY}-${CURRENT_MONTH}-${CURRENT_BRANCH}-${CURRENT_DAY}" >> $GITHUB_OUTPUT
      - name: Restore Maven Repository
        uses: actions/cache/restore@v4
        with:
          path: ~/.m2/repository
          key: ${{ steps.cache-key.outputs.m2-cache-key }}
          restore-keys: |
            ${{ steps.cache-key.outputs.m2-monthly-branch-cache-key }}-
            ${{ steps.cache-key.outputs.m2-monthly-cache-key }}-
      - name: Build and Deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_API_TOKEN }}
          SERVER_USERNAME: ${{ secrets.SERVER_USERNAME }}
          SERVER_PASSWORD: ${{ secrets.SERVER_PASSWORD }}
        run: |
          ./mvnw -e -B --settings .github/mvn-settings.xml \
            -DskipTests -DskipITs -Dno-format -Dinvoker.skip=true \
            -DretryFailedDeploymentCount=10 \
            -Dno-test-modules \
            -Ddevelocity.cache.local.enabled=false \
            -Ddevelocity.cache.remote.enabled=false \
            -Ddokka \
            -Prelocations \
            clean deploy
      - name: Delete Local Artifacts From Cache
        shell: bash
        run: rm -r ~/.m2/repository/io/quarkus

      - name: Report status
        if: always()
        uses: quarkusio/report-status-in-issue@main
        with:
          github-token: ${{ secrets.GITHUB_API_TOKEN }}
          status: ${{ job.status }}
          issue-repository: ${{ github.repository }}
          issue-number: 12111
